@charset "utf-8";
/*登录注册的头部开始*/
.login_registration_head { float:left; width:100%; height:100px; background:#FFF;}
.login_registration_head .logo { float:left; width:400px; height:50px; padding:25px 0px; overflow:hidden;}
/*登录注册的头部结束*/


/*登录中部开始*/
.login_wrapper { float:left; width:100%; height:450px;}
.login_wrapper .login { float:right; width:274px; padding:0px 28px; height:410px; margin-top:20px; background:#FFF; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; overflow:hidden;}
.login_wrapper .login ul { float:left; width:100%; font-size:14px; overflow:hidden;}
.login_wrapper .login ul li { float:left; width:100%; padding-top:15px; overflow:hidden;}
.login_wrapper .login ul li .span1 { font-size:18px; color:#000; display:block;}
.login_wrapper .login ul li .span2 { color:#F00; display:block;}
.login_wrapper .login ul li .input_text { display:block; width:214px; height:20px; padding: 10px; padding-left:50px; color:#999; border:none; overflow:hidden; line-height: 20px;}
.login_wrapper .login ul li .input_text1 { background:url(../images/pngicon.png) no-repeat 0px -1333px;}
.login_wrapper .login ul li .input_text2 { background:url(../images/pngicon.png) no-repeat 0px -1393px;}
.login_wrapper .login ul li .yellow_button { float:left; width:100%; height:40px; line-height:40px; text-align:center; color:#FFF; background:#F08519; font-size:14px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:none; cursor:pointer; overflow:hidden;}
.login_wrapper .login ul li .padding_left { padding-left:5px;}
/*登录中部结束*/


/*登录底部开始*/
.login_foot { float:left; width:100%; padding-top:10px; font-size:14px;}
/*登录底部结束*/


/*注册中部开始*/
.registration_wrapper { float:left; width:100%;}
.registration_wrapper .registration { float:left; width:900px; background:#FFF; padding:40px; border-bottom:solid 4px #CCC; overflow:hidden;}
.registration_wrapper .registration .registration_process { float:left; width:900px; height:56px; overflow:hidden;}
.registration_wrapper .registration .registration_form { float:left; width:900px; margin-top:20px; overflow:hidden;}
.registration_wrapper .registration .registration_form form { float:left; width:900px; overflow:hidden;}
.registration_wrapper .registration .registration_form form ul { float:left; width:900px; font-size:14px; overflow:hidden;}
.registration_wrapper .registration .registration_form form ul li { float:left; width:900px; padding:10px 0px; -moz-transition:all ease 0.3s; -ms-transition:all ease 0.3s; -o-transition:all ease 0.3s; -webkit-transition:all ease 0.3s; transition:all ease 0.3s; overflow:hidden;}
.registration_wrapper .registration .registration_form form ul li .li_left { float:left; width:110px; padding-right:10px; height:40px; overflow:hidden;}
.registration_wrapper .registration .registration_form form ul li .li_center { float:left; width:300px; height:40px; overflow:hidden;}
.registration_wrapper .registration .registration_form form ul li .li_right { float:left; width:240px; padding-left:20px; height:40px; color:#999; overflow:hidden;}
.registration_wrapper .registration .registration_form form ul li .required { color:#F00; padding-right:10px;}
.registration_wrapper .registration .registration_form .input_text { float:left; padding: 10px; padding-left:10px; height:18px; color:#999; border:solid 1px #E4E4E4; -moz-transition:all ease 0.3s; -ms-transition:all ease 0.3s; -o-transition:all ease 0.3s; -webkit-transition:all ease 0.3s; transition:all ease 0.3s; overflow:hidden;}
.registration_wrapper .registration .registration_form .input_text:focus { border:1px solid #F08519;}
.registration_wrapper .registration .registration_form .input_text_288 { width:288px;}
.registration_wrapper .registration .registration_form .input_text_127 { width:127px;}
.registration_wrapper .registration .registration_form .padding_right_10 { padding-right:10px;}
.registration_wrapper .registration .registration_form .input_button { float:left; height:40px; text-align:center; line-height:40px; font-size:14px; color:#FFF; -moz-transition:all ease 0.3s; -ms-transition:all ease 0.3s; -o-transition:all ease 0.3s; -webkit-transition:all ease 0.3s; transition:all ease 0.3s; background:#F08519; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; cursor:pointer; border:none; overflow:hidden;}
.registration_wrapper .registration .registration_form .input_button:hover { filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity:0.9; opacity:0.9;}
.registration_wrapper .registration .registration_form .input_button_180 { width:180px;}
.registration_wrapper .registration .registration_form .obtain { font-size:12px; padding:0px 20px;}
.registration_wrapper .registration .registration_form .obtain_grey { background:#999; margin-left:11px;}
.registration_wrapper .registration .registration_form .head_tip { float:left; width:900px; padding:20px 0px; background:#F6F1EC; overflow:hidden;}
/*注册中部结束*/


/*注册底部开始*/
.registration_foot { float:left; width:100%; background:#59544F; font-size:14px; padding:10px 0px; color:#FFF; -moz-text-shadow:1px 1px 0px #36322F; -ms-text-shadow:1px 1px 0px #36322F; -o-text-shadow:1px 1px 0px #36322F; -webkit-text-shadow:1px 1px 0px #36322F; text-shadow:1px 1px 0px #36322F; margin-top:20px;}
.registration_foot a { color:#FFF;}
.registration_foot a:hover { color:#F08519;}
/*注册底部结束*/


/*会员中心开始*/
.member_container { float:left; width:980px; background:#FFF; border-bottom:solid 4px #CCC;}
.member_container .LeftSide { float:left; width:160px;}
.member_container .LeftSide .BasicInformation { float:left; width:120px; padding:10px 20px 30px 20px; background:url(../images/member_01.jpg) no-repeat left bottom;}
.member_container .LeftSide .BasicInformation ul { float:left; width:120px; display:block;}
.member_container .LeftSide .BasicInformation ul li { float:left; width:120px; margin-top:10px; display:block;}
.member_container .LeftSide .BasicInformation ul li .vip { float:right; width:26px; height:16px; position:relative; z-index:9;}
.member_container .LeftSide .BasicInformation ul li .vip img { float:left; width:26px; height:16px; overflow:hidden;}
.member_container .LeftSide .BasicInformation ul li .vip span { display:none;}
.member_container .LeftSide .BasicInformation ul li .vip:hover span { display:block; z-index:10; position:absolute; left:0px; top:16px; width:120px; height:48px; line-height:24px; color:#666; padding:14px 10px 10px 10px; background:url(../images/pngicon.png) no-repeat -860px -80px; text-align:left; overflow:hidden;}
.member_container .LeftSide .BasicInformation ul li .verification { float:left; width:24px; height:24px; margin-right:24px; display:inline; position:relative;}
.member_container .LeftSide .BasicInformation ul li .verification img { float:left; width:24px; height:24px; overflow:hidden;}
.member_container .LeftSide .BasicInformation ul li .verification span { display:none;}
.member_container .LeftSide .BasicInformation ul li .verification:hover span { display:block; position:absolute; left:0px; top:24px; width:120px; height:48px; line-height:24px; color:#666; padding:14px 10px 10px 10px; background:url(../images/pngicon.png) no-repeat -860px -80px; overflow:hidden;}
.member_container .LeftSide .SideNavigation { float:left; width:160px; padding-bottom:100px; overflow:hidden;}
.member_container .LeftSide .SideNavigation .vtitle { float:left; width:110px; padding-left:50px; height:50px; line-height:50px; font-size:14px; font-weight:bold; color:#000; cursor:pointer; -moz-text-shadow:1px 1px 0px #FFF; -ms-text-shadow:1px 1px 0px #FFF; -o-text-shadow:1px 1px 0px #FFF; -webkit-text-shadow:1px 1px 0px #FFF; text-shadow:1px 1px 0px #FFF; overflow:hidden;}
.member_container .LeftSide .SideNavigation .vtitle .v { float:right; width:14px; height:14px; background:url(../images/member_17.png) no-repeat; margin:18px 18px 0px 0px; display:inline; overflow:hidden;}
.member_container .LeftSide .SideNavigation .vtitle .v01 { background-position:0px 0px;}
.member_container .LeftSide .SideNavigation .vtitle .v02 { background-position:0px -16px;}
.member_container .LeftSide .SideNavigation .vcon { float:left; width:160px; font-size:14px; -moz-text-shadow:1px 1px 0px #FFF; -ms-text-shadow:1px 1px 0px #FFF; -o-text-shadow:1px 1px 0px #FFF; -webkit-text-shadow:1px 1px 0px #FFF; text-shadow:1px 1px 0px #FFF; background:url(../images/member_01.jpg) no-repeat left bottom; padding-bottom:20px; overflow:hidden;}
.member_container .LeftSide .SideNavigation .vcon .vconlist { float:left; width:160px; overflow:hidden;}
.member_container .LeftSide .SideNavigation .vcon .vconlist li { float:left; width:160px; overflow:hidden;}
.member_container .LeftSide .SideNavigation .vcon .vconlist li a { float:left; width:110px; padding-left:50px; height:36px; line-height:36px; color:#333; overflow:hidden;}
.member_container .LeftSide .SideNavigation .vcon .vconlist li a:hover { color:#F08519;}
.member_container .LeftSide .SideNavigation .vcon .vconlist li .current { background:url(../images/pngicon.png) no-repeat -840px 0px; color:#F08519;}
.member_container .LeftSide .SideNavigation .vcon .vconlist li .current:hover { color:#F08519;}


.member_container .RightSide { float:left; width:760px; padding:0px 30px 60px 30px;}
.member_container .RightSide .RightSideTitle { float:left; width:760px; height:50px; line-height:50px; background:url(../images/line_03.jpg) repeat-x; overflow:hidden;}
.member_container .RightSide .RightSideTitle .biaoti { float:left; height:50px; font-size:14px; font-weight:bold; color:#000; padding:0px 20px; background:#FFF; overflow:hidden;}


.member_container .RightSide .TitleSwitch { float:left; width:760px; height:36px; line-height:36px; background:url(../images/line_02.jpg) repeat-x; overflow:hidden;}
.member_container .RightSide .TitleSwitch .tab_1 { float:left; width:120px; height:36px; text-align:center; cursor:pointer; overflow:hidden;}
.member_container .RightSide .TitleSwitch .tab_2 { float:left; width:120px; height:36px; text-align:center; cursor:pointer; color:#F08519; background:url(../images/pngicon.png) no-repeat 0px -1287px; overflow:hidden;}


.member_container .RightSide .section { float:left; width:760px;}
.member_container .RightSide .section .yellow_button { float:left; text-align:center; color:#FFF; background:#F08519; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -moz-transition:all ease 0.3s; -ms-transition:all ease 0.3s; -o-transition:all ease 0.3s; -webkit-transition:all ease 0.3s; transition:all ease 0.3s; verflow:hidden;}
.member_container .RightSide .section .yellow_button:hover { filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity:0.9; opacity:0.9;}
.member_container .RightSide .section .grey_button { float:left; padding:0px 20px; height:28px; line-height:28px; background:url(../images/member_09.jpg) repeat-x; border:solid 1px #CCC; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; overflow:hidden;}
.member_container .RightSide .section .red_text { color:#FF561A;}
.member_container .RightSide .section .grey_text { color:#999999;}
.member_container .RightSide .section .dark_grey { color:#000;}
.member_container .RightSide .section .dark_green { color:#18B15F;}
.member_container .RightSide .section .yello_text { color:#F08519;}
.member_container .RightSide .section .font_18 { font-size:18px;}
.member_container .RightSide .section .font_30 { font-size:30px;}
.member_container .RightSide .section .jiacu { font-weight:bold;}
.member_container .RightSide .section .creditor_input_text { float:left; width:38px; height:34px; text-align:center; border:solid 1px #E4E4E4; border-right:none; overflow:hidden;}
.member_container .RightSide .section .creditor_input_button { float:left; width:18px; height:18px; border:solid 1px #E4E4E4; cursor:pointer; overflow:hidden;}
.member_container .RightSide .section .creditor_input_button:hover { border:solid 1px #F08519;}
.member_container .RightSide .section .creditor_input_select { border:solid 1px #E4E4E4; padding:7.5px;}
.member_container .RightSide .section .credito_button1 { float:left; width:58px; text-align:center; height:24px; line-height:24px; background:#F08519; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; color:#FFF; verflow:hidden;}
.member_container .RightSide .section .credito_button2 { float:left; width:58px; text-align:center; height:24px; line-height:24px; background:#CCCCCC; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; color:#000; verflow:hidden;}
.member_container .RightSide .section p { display:block; line-height:24px;}


.member_container .RightSide .section .asset_condition_01 { float:left; width:760px; padding:30px 0px; background:#F8F8F8;}
.member_container .RightSide .section .asset_condition_01 ul { float:left; width:760px;}
.member_container .RightSide .section .asset_condition_01 ul li { float:left; width:252px; height:66px; border-left:solid 1px #FFF; border-right:solid 1px #E4E4E4;}
.member_container .RightSide .section .asset_condition_01 ul li .span1 { font-family:Arial; font-size:24px; color:#000;}
.member_container .RightSide .section .asset_condition_01 ul li .yellow_button { width:100px; height:32px; line-height:32px;}
.member_container .RightSide .section .asset_condition_01 ul li .question_mark { display:block; position:relative;}
.member_container .RightSide .section .asset_condition_01 ul li .question_mark img { display:block; cursor:pointer;}
.member_container .RightSide .section .asset_condition_01 ul li .question_mark span { display:none;}
.member_container .RightSide .section .asset_condition_01 ul li .question_mark:hover span { display:block; position:absolute; left:-6px; top:12px; width:120px; height:48px; line-height:24px; color:#666; padding:14px 10px 10px 10px; background:url(../images/pngicon.png) no-repeat -860px -80px; overflow:hidden;}
.member_container .RightSide .section .asset_condition_02 { float:left; width:760px; padding:30px 0px; background:#F8F8F8;}
.member_container .RightSide .section .asset_condition_02 ul { float:left; width:760px; overflow:hidden;}
.member_container .RightSide .section .asset_condition_02 ul li { float:left; width:252px; border-left:solid 1px #FFF; border-right:solid 1px #E4E4E4; font-size:14px; overflow:hidden;}
.member_container .RightSide .section .asset_condition_02 ul li span { padding:0px 5px; font-weight:bold; color:#F08519;}


.member_container .RightSide .section .top_tips { float:left; width:720px; padding:10px 20px; background:#F6F1EC; line-height:24px; overflow:hidden;}


.member_container .RightSide .section .bottom_tips { float:left; width:720px; padding:10px 20px; background:#F8F8F8;}
.member_container .RightSide .section .bottom_tips p { display:block; line-height:28px;}


.wenxintishi { display:block;}
.wenxintishi p { display:block; line-height:30px;}
.wenxintishi p a { position:relative;}
.wenxintishi p a .huifu { display:none;}
.wenxintishi p a:hover .huifu { display:block; position:absolute; top:15px; left:-160px; z-index:10; width:500px; height:185px; padding:20px; line-height:28px; color:#444; background:url(../images/remind_box.png) no-repeat; text-align:justify;}
.wenxintishi .quota { display:block; line-height:30px;}
.wenxintishi .quota .details_limit { display:inline-block; position:relative;}
.wenxintishi .quota .details_limit .blue_a { cursor:pointer;}
.wenxintishi .quota .details_limit .details_limit_list { display:none;}
.wenxintishi .quota .details_limit:hover .details_limit_list { display:block; position:absolute; top:15px; left:-160px; z-index:10; width:500px; height:185px; padding:20px; line-height:28px; color:#444; background:url(../images/remind_box.png) no-repeat; text-align:justify; overflow-x:hidden; overflow-y:auto;}


.member_container .RightSide .section .section_form { float:left; width:760px;}
.member_container .RightSide .section .section_form .input_text { float:left; padding-left:10px; height:38px; color:#999; border:solid 1px #E4E4E4; -moz-transition:all ease 0.3s; -ms-transition:all ease 0.3s; -o-transition:all ease 0.3s; -webkit-transition:all ease 0.3s; transition:all ease 0.3s; overflow:hidden;}
.member_container .RightSide .section .section_form .input_text:focus { border:solid 1px #F08519;}
.member_container .RightSide .section .section_form .input_text_250 { width:250px;}
.member_container .RightSide .section .section_form .yellow_button { padding:0px 20px; height:40px; line-height:40px; border:none; cursor:pointer;}
.member_container .RightSide .section .section_form .ChooseBank { float:left; width:616px; padding-left:5px; overflow:hidden;}
.member_container .RightSide .section .section_form .ChooseBank li { float:left; width:167px; height:57px; margin:0px 20px 20px 0px; cursor:pointer; overflow:hidden;}
.member_container .RightSide .section .section_form .ChooseBank a { widht:145px; height:35px; padding:10px; border:1px solid #DDD; display:block;}
.member_container .RightSide .section .section_form .ChooseBank a:hover { border:1px solid #F08619;}
.member_container .RightSide .section .section_form .ChooseBank a:active { border:1px solid #F08619;}
.member_container .RightSide .section .section_form .ChooseBank a.current { border:1px solid #F08619;}
.member_container .RightSide .section .section_form .ChooseBankQy { float:left; width:621px; overflow:hidden;}
.member_container .RightSide .section .section_form .ChooseBankQy { float:left; width:616px; padding-left:5px; overflow:hidden;}
.member_container .RightSide .section .section_form .ChooseBankQy li { float:left; width:167px; height:57px; margin:0px 20px 20px 0px; cursor:pointer; overflow:hidden;}
.member_container .RightSide .section .section_form .ChooseBankQy a { widht:145px; height:35px; padding:10px; border:1px solid #DDD; position:relative; display:block;}
.member_container .RightSide .section .section_form .ChooseBankQy a:hover { border:1px solid #F08619;}
.member_container .RightSide .section .section_form .ChooseBankQy a:active { border:1px solid #F08619;}
.member_container .RightSide .section .section_form .ChooseBankQy a.current { border:1px solid #F08619;}
.member_container .RightSide .section .section_form .ChooseBankQy a span { position:absolute; right:5px; top:16px;}
.member_container .RightSide .section .section_form .ChooseBank1 { float:left; width:621px; overflow:hidden;}
.member_container .RightSide .section .section_form .ChooseBank1 li { float:left; width:177px; height:51px; margin:0px 30px 20px 0px; cursor:pointer; overflow:hidden;}
.member_container .RightSide .section .section_form .BankType { float:left; width:154px; text-align:center; height:49px; line-height:49px; background:url(../images/pngicon.png) no-repeat -846px -829px;}
.member_container .RightSide .section .section_form .BankTypeCur { float:left; width:154px; text-align:center; height:49px; line-height:49px; background:url(../images/pngicon.png) no-repeat -846px -888px; color:#F08519;}


.member_container .RightSide .section .section_text { float:left; width:760px; overflow:hidden;}


.member_container .RightSide .section .assets { float:left; width:760px; height:300px; position:relative;}
.member_container .RightSide .section .assets .number { position:absolute; height:60px; display:block;}
.member_container .RightSide .section .assets .number .money { width:100%; height:34px; line-height:34px; display:block;}
.member_container .RightSide .section .assets .number .money .question_mark { display:block; position:relative;}
.member_container .RightSide .section .assets .number .money .question_mark img { display:block; cursor:pointer;}
.member_container .RightSide .section .assets .number .money .question_mark p { display:none;}
.member_container .RightSide .section .assets .number .money .question_mark:hover p { display:block; position:absolute; left:-6px; top:12px; z-index:100; width:120px; height:48px; line-height:24px; color:#666; padding:14px 10px 10px 10px; background:url(../images/pngicon.png) no-repeat -860px -80px; overflow:hidden;}
.member_container .RightSide .section .assets .number .money .question_mark:hover .dsze { height:72px; background:url(../images/pngicon.png) no-repeat -860px -723px;}
.member_container .RightSide .section .assets .number .link { width:100%; height:30px; line-height:30px; display:block;}
.member_container .RightSide .section .assets .number .link a { color:#F08519;}
.member_container .RightSide .section .assets .number1 { top:30px; left:0px; width:265px; background:url(../images/member_18.png) no-repeat right top;}
.member_container .RightSide .section .assets .number2 { top:30px; right:0px; width:235px; background:url(../images/member_19.png) no-repeat left top; padding-left:30px;}
.member_container .RightSide .section .assets .number3 { bottom:10px; right:0px; width:320px; background:url(../images/member_20.png) no-repeat left top; padding-left:50px;}
.member_container .RightSide .section .assets .number4 { position:absolute; width:100px; height:100px; top:75px; left:330px; display:block;}
.member_container .RightSide .section .assets .number4 .question_mark { display:block; position:relative;}
.member_container .RightSide .section .assets .number4 .question_mark img { display:block; cursor:pointer;}
.member_container .RightSide .section .assets .number4 .question_mark p { display:none;}
.member_container .RightSide .section .assets .number4 .question_mark:hover p { display:block; position:absolute; left:-6px; top:12px; width:120px; height:48px; line-height:24px; color:#666; padding:14px 10px 10px 10px; background:url(../images/pngicon.png) no-repeat -860px -80px; overflow:hidden;}
.member_container .RightSide .section .assets span { font-size:24px; color:#000;}


.member_container .RightSide .section .repayment_date { float:left; width:500px; height:229px; border:solid 1px #E4E4E4; border-left:none; overflow:hidden;}
.member_container .RightSide .section .repayment_date .top { float:left; width:460px; padding:0px 20px; height:40px; line-height:40px; overflow:hidden;}
.member_container .RightSide .section .repayment_date .bottom { float:left; width:420px; padding:64px 40px; height:120px; border-top:solid 1px #E4E4E4; overflow:hidden;}
.member_container .RightSide .section .repayment_date .bottom .arrow { float:left; width:20px; height:90px; margin:15px 0px; position:relative; overflow:hidden;}
.member_container .RightSide .section .repayment_date .bottom .arrow a { float:left; width:20px; height:90px; overflow:hidden;}
.member_container .RightSide .section .repayment_date .bottom .arrow a img { float:left; width:20px; height:30px; margin:30px 0px; overflow:hidden;}
.member_container .RightSide .section .repayment_date .bottom .arrow span { position:absolute; left:0px; top:0px; width:20px; height:90px; opacity:0.5; filter:alpha(opacity=50);}
.member_container .RightSide .section .repayment_date .bottom .bottom_content { float:left; width:320px; padding:0px 30px; height:120px; overflow:hidden;}
.member_container .RightSide .section .repayment_date .bottom .bottom_content .date { float:left; width:90px; height:90px; margin:15px 0px; background:#F6F1EC; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; overflow:hidden;}
.member_container .RightSide .section .repayment_date .bottom .bottom_content .date span { float:left; width:90px; height:45px; line-height:45px; color:#000; text-align:center; font-size:18px; overflow:hidden;}
.member_container .RightSide .section .repayment_date .bottom .bottom_content .date .ri { background:#F08519; color:#FFF;}
.member_container .RightSide .section .repayment_date .bottom .bottom_content .information { float:left; width:210px; padding-left:20px; height:120px; overflow:hidden;}


.member_container .RightSide .section .RedEnvelopes { float:left; width:760px; overflow:hidden;}
.member_container .RightSide .section .RedEnvelopes ul { float:left; width:760px; overflow:hidden;}
.member_container .RightSide .section .RedEnvelopes ul li { float:left; width:289px; height:200px; background:url(../images/member_26.jpg) no-repeat; margin:45.5px 45.5px 0px 45.5px; font-size:14px; overflow:hidden;}
.member_container .RightSide .section .RedEnvelopes ul li .li_top { float:left; width:289px; height:66px; color:#E41229; overflow:hidden;}
.member_container .RightSide .section .RedEnvelopes ul li .li_bottom { float:left; width:289px; height:134px; color:#FFF8C0; overflow:hidden;}


.member_container .RightSide .section .invitation_apply { float:left; width:738px; padding:10px; border:solid 1px #E4E4E4; position:relative;}
.member_container .RightSide .section .invitation_apply table { font-size:14px;}
.member_container .RightSide .section .invitation_apply table span { padding:0px 5px; font-weight:bold; color:#F08519;}
#lean_overlay { position:fixed; top:0px; left:0px; width:100%; height:100%; background:none; display:none; z-index:10000;}
#applyresults { width:360px; height:119px; background:url(../images/applyresults.png) no-repeat; display:none;}
#applyresults .applyresults_content { float:left; width:340px; height:82px; padding:23px 10px 14px 10px; overflow:hidden;}

.member_container .RightSide .section .open_account_remind { float:left; width:100%; padding-top:100px; overflow:hidden;}
.member_container .RightSide .section .open_account_remind .open_button { display:inline-block; padding:15px 50px; background:#F08519; color:#FFF; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-transition:all ease 0.3s; -ms-transition:all ease 0.3s; -o-transition:all ease 0.3s; -webkit-transition:all ease 0.3s; transition:all ease 0.3s; -moz-box-shadow:0px 3px 0px #B16213; -ms-box-shadow:0px 3px 0px #B16213; -o-box-shadow:0px 3px 0px #B16213; -webkit-box-shadow:0px 3px 0px #B16213; box-shadow:0px 3px 0px #B16213; -moz-text-shadow:1px 1px 0px #444; -ms-text-shadow:1px 1px 0px #444; -o-text-shadow:1px 1px 0px #444; -webkit-text-shadow:1px 1px 0px #444; text-shadow:1px 1px 0px #444;}
.member_container .RightSide .section .open_account_remind .open_button:hover { filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity:0.9; opacity:0.9;}
#untutored_guide { position:absolute; top:50%; left:50%; width:808px; height:550px; background:#FFF; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin:-275px 0px 0px -404px; display:block;}
#tutored_guide { position:absolute; top:50%; left:50%; width:784px; height:360px; background:#FFF; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin:-180px 0px 0px -392px; display:block;}
#untutored_guide .dark_grey,#tutored_guide .dark_grey { color:#000;}
#untutored_guide .dark_green,#tutored_guide .dark_green { color:#18B15F;}
#untutored_guide .yello_text,#tutored_guide .yello_text { color:#F08519;}
#untutored_guide .font_18,#tutored_guide .font_18 { font-size:18px;}

/*.text-lg{font-size:24px!important;line-height:24px!important}
.text-md{font-size:16px!important;line-height:16px!important}
.pull-right{float:right!important}*/
/*会员中心结束*/






















